/HolaMundo2/nbproject/private/
/HolaMundo2/build/
/DatosPrimitivos/nbproject/private/
/NoPrimitivos/nbproject/private/
/Constantes/nbproject/private/
/OperacionesBasicaa/nbproject/private/
/OperacionesBasicaa/build/
/Calculadora/nbproject/private/
/Bisiesto/nbproject/private/
/NumPar/nbproject/private/
/EdadIf/nbproject/private/
/Jugador/nbproject/private/
/Dialaboral/nbproject/private/
